@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Ubuntu:wght@300&display=swap');

$color1: black;
$color2: white;
$color3: #101111;
$color4: #0FF4C6;
$color5: #FF123D;

$font1: 'Rubik', sans-serif;
$font2: 'Ubuntu', sans-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color3;
    height: 100%;
}

nav li {
    display: inline-block;
    padding: 10px 0;
    margin-left: 25px;
}

nav ul li a {
    font-family: $font1;
    text-decoration: none;
    color: white
}

main {
    min-height: calc(100vh - 167px);
}

h1 {
    font-family: $font1;
    font-size: 40px;
    font-weight: 900;
    color: $color4;
}

h2 {

    font-family: $font1;
    font-weight: 900;
    font-size: 36px;
    color: $color5;
    padding-left: 20px;
    padding-top: 20px;
}

h3 {
    color: white;
    font-family: $font2;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 5px black;
    padding-top: 20px;
}

h5 {
    text-align: center;
    font-family: $font2;
    color: $color2
}

p {
    font-family: $font2;
    margin: 0px;
    color: white;

    a {
        text-decoration: none;
        font-weight: bolder;
        color: $color2;
    }

    a:hover {
        color: $color4
    }
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: $font2;
    padding: 10px;

    a {
        color: white;

        &:hover {
            color: $color4;
        }
    }
}

.productos {
    display: inline-block;
    padding-top: 50px;
    width: 33%;
}

img.productos_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.redes {
    color: #333;
    font-size: 40px;
    letter-spacing: 10px;
}

/* estilos para contact.html */

.form_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // width: 100%;
    height: auto;
    // min-height: 600px;
    padding: 20px;
}

#formbox {
    width: 100%;
    max-width: 400px;
    padding: 20px 15px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

input {
    min-height: 2.5em;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.formfield:hover {
    background-color: $color3;
    box-shadow: 0 0 5px #0FF4C6;
    color: white;
}

.formfield:focus {
    background-color: $color3;
    box-shadow: 0 0 5px #0FF4C6;
    color: white;
}

textarea {
    border-radius: 5px;
    border: none;
    margin-bottom: 35px;
    transition: background-color 0.5s, box-shadow 0.5s;
}

button {
    min-height: 2.5em;
    border-radius: 5px;
    border: none;
    font-family: $font2;
    font-size: 14pt;
    color: $color1;
    background-color: #0FF4C6;
    transition: background-color 1s
}

button[type="submit"]:hover {
    background-color: white;
}

label {
    color: white;
    font-family: $font2;
    font-size: 14pt;
}

#contact_text {
    padding-left: 25px;
    padding-top: 15px;
}

@media (hover: hover) {
    .formfield:focus {
        outline: 0 none;
    }
}

/* estilos para index.html */
.main_index {
    background-image: url(../img/fondo_index.jpg);
    background-size: cover;
    background-position: center;
}

.aside_index {
    border: 5px dashed $color5;
    margin: 10px;
    padding: 20px;

    p {
        font-weight: 900;
    }

    a {
        color: $color1;
        text-decoration: none;
        background-color: $color4;
        padding: 5px 20px;
    }

    a:hover {
        background-color: $color2;
    }
}

.frase_index {
    width: 350px;
    height: 500px;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

/* estilos para products.html */

.paleta {
    border: $color1 solid 1px;
    background-color: #313035;
}

.img-fluid:hover {
    transition: all 0.9s;
    filter: grayscale(100%)
}

/* estilos para about.html */

.main_about {
    background-image: url(../img/fondo_about.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .frase_about {
        align-self: center;
        padding: 0 80px;
        font-weight: 900;
    }
}

@media (min-width: 575.98px) {
    .main_about {
        h2 {
            padding-left: 50px;
            padding-top: 50px;
        }
    }

    .frase_about {
        width: 50%;
        align-self: center;
        padding: 0 80px;
        font-weight: 900;
    }
}

/* estilos para shop.html */

.main_shop {
    background-image: url(../img/fondo_shop.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.texto_shop {
    align-self: center;
    padding-top: 20px;
}

iframe {
    padding: 20px 0;
}

@media (min-width: 992px) {
    main {
        min-height: calc(100vh - 177px);
    }
}