@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

/* nav {
    margin-bottom: 50px;
} */

nav li {
    display: inline-block;
    padding: 10px 0;
    margin-left: 25px;
}

nav ul li a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: white
}

.navbar {
background-color: black !important;
}

main {
    height: calc(100vh - 100px);
}

h2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

h5 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
footer a{
    color: #0FF4C6
    }
    footer a:hover{
        color: white
    }

.productos {
    display: inline-block;
    padding-top: 50px;
    width: 33%;
}

img.productos_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}


/* footer p {
    display: inline;
    font-family: 'Ubuntu', sans-serif;
} */

/* footer a {
    float: right;
} */
.redes {
    color: #333;
    font-size: 40px;
    letter-spacing: 10px;
}

/* estilos para contact.html */
label {
    display: block;
}

input {
    min-height: 2em;
}

button {
    display: block;
}

/* estilos para products.html */
