@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101111;
  height: 100%;
}

nav li {
  display: inline-block;
  padding: 10px 0;
  margin-left: 25px;
}

nav ul li a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #0FF4C6;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #FF123D;
  padding-left: 20px;
  padding-top: 20px;
}

h3 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-align: center;
  text-shadow: 0 0 5px black;
  padding-top: 20px;
}

h5 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

p {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  color: white;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
}
footer a {
  color: white;
}
footer a:hover {
  color: #0FF4C6;
}

.productos {
  display: inline-block;
  padding-top: 50px;
  width: 33%;
}

img.productos_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.redes {
  color: #333;
  font-size: 40px;
  letter-spacing: 10px;
}

/* estilos para contact.html */
.form_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  padding: 20px;
}

#formbox {
  width: 100%;
  max-width: 400px;
  padding: 30px 15px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

input {
  min-height: 3em;
  margin-bottom: 25px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.5s, box-shadow 0.5s;
}

.formfield:hover {
  background-color: #101111;
  box-shadow: 0 0 5px #0FF4C6;
  color: white;
}

.formfield:focus {
  background-color: #101111;
  box-shadow: 0 0 5px #0FF4C6;
  color: white;
}

textarea {
  border-radius: 5px;
  border: none;
  margin-bottom: 50px;
  transition: background-color 0.5s, box-shadow 0.5s;
}

button {
  min-height: 3em;
  border-radius: 5px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 14pt;
  background-color: #0FF4C6;
  transition: background-color 1s;
}

button[type=submit]:hover {
  background-color: white;
}

label {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 14pt;
}

@media (hover: hover) {
  .formfield:focus {
    outline: 0 none;
  }
}
/* estilos para index.html */
.main_index {
  background-image: url(../img/fondo_index.jpg);
  background-size: cover;
  background-position: center;
}

.aside_index {
  border: 5px dashed #FF123D;
  margin: 10px;
  padding: 20px;
}
.aside_index p {
  font-weight: 900;
}
.aside_index a {
  color: black;
  text-decoration: none;
  background-color: #0FF4C6;
  padding: 5px 20px;
}
.aside_index a:hover {
  background-color: white;
}

.frase_index {
  width: 350px;
  height: 500px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

/* estilos para products.html */
.paleta {
  border: black solid 1px;
  background-color: #313035;
}

.img-fluid:hover {
  transition: all 0.9s;
  filter: grayscale(100%);
}

/* estilos para about.html */
.main_about {
  background-image: url(../img/fondo_about.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: calc(100vh - 183px);
}
.main_about .frase_about {
  align-self: center;
  padding: 0 80px;
  font-weight: 900;
}

@media (min-width: 575.98px) {
  .main_about h2 {
    padding-left: 50px;
    padding-top: 50px;
  }
  .frase_about {
    width: 50%;
    align-self: center;
    padding: 0 80px;
    font-weight: 900;
  }
}
/* estilos para shop.html */
.main_shop {
  background-image: url(../img/fondo_shop.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: calc(100vh - 183px);
}

.texto_shop {
  align-self: center;
  padding-top: 20px;
}

iframe {
  padding: 20px 0;
}/*# sourceMappingURL=style.css.map */